.item {
  color: #0a5fe7;
  margin-bottom: 15px;
}

.item img {
  width: 100px;
  height: 100px; /* Ширина и высота */
  border-radius: 50%; /* Превращаем в круг */
  background-size: auto 100px; /* Высота фотографии равна высоте элемента */
}
